<div class="col-xs-12">
  <div class="ibox">
    <div class="ibox-content clearfix">
      <%= simple_form_for(@student,
                    html: { class: 'form-horizontal col-lg-10' },
                    wrapper: :horizontal_form,
                    :validate => true) do |f| %>

        <%= f.input :first_name %>
        <%= f.input :middle_name %>
        <%= f.input :last_name %>

        <%= f.input :phone %>
        <%= f.input :email %>

        <%= f.input :gender, collection: ["Male","Female"]%>
        <%= f.input :date_of_birth, input_html: { class: 'date datepicker' }, :hint => "dd-mm-yyyy"%>

        <%= f.input :caste %>
        <%= f.input :date_of_birth, label: "Joining Date", input_html: { class: 'date datepicker' }, :hint => "dd-mm-yyyy"%>

        
        
        
        <div class="form-group">
          <label class="string optional col-sm-3 control-label col-xs-12">
            Parents
          </label>

          <ol class="col-sm-9 col-xs-12">
            <%= f.simple_fields_for :parents do |pf| %>
              <%= render 'parents_form', :f => pf %>
              <div class="">
                <%= link_to_add_association 'Add more', f, :options %>
              </div>
            <% end %>
          </ol>
        </div>

        <div class="form-group">
          <label class="string optional col-sm-3 control-label col-xs-12">
            Class Details
          </label>

          <%= f.simple_fields_for :class_students do |cf| %>
            <%= render 'class_students_form', :f => cf %>
          <% end %>
        </div>

        
        <div class="form-group">
          <label class="string optional col-sm-3 control-label col-xs-12"></label>
          <div class="col-sm-9 col-xs-12">
            <%= f.button :submit, class: "btn btn-primary"%>
            <%= link_to("Cancel", students_path(), class: "btn btn-default") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
