<div class="col-xs-12">
  <div class="ibox">
    <div class="ibox-content clearfix">
      <%= simple_form_for(@student, html: { class: 'form-horizontal col-lg-10' }, wrapper: :horizontal_form, :validate => true) do |f| %>

        <div class="field row form-group">
          <label class="string required col-sm-3 control-label col-xs-12">
            <abbr title="required">*</abbr>
            Name
          </label>
          <div class="col-sm-9 col-xs-12 row">
            <div class="col-xs-12 col-sm-6">
              <%= f.input_field :first_name, placeholder: 'First Name', class: "form-control" %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input_field :last_name, placeholder: 'Last Name',  class: "form-control" %>
            </div>
          </div>
        </div>

        <%= f.input :aadhar_number %>

        <%= f.input :phone, label: "Student's Phone" %>
        <%= f.input :email, label: "Student's Email" %>

        <%= f.input :date_of_birth, as: :string, input_html: { class: 'date datepicker' }%>
        <%= f.input :gender, collection: ["Male","Female"], input_html: { class: 'chosen-select' } %>
        <%= f.input :mother_tounge %>
        <%= f.input :religion %>
        <%= f.input :caste %>
        <%= f.input :disability %>

        <%= f.input :address %>
        <%= f.input :ward_type %>

        <hr/>

        <%= f.input :admission_number %>
        <%= f.input :joined_on, as: :string, label: "Admission Date", input_html: { class: 'date datepicker' }, hint: "The date on which the student joined the shcool." %>
        <%= f.input :joined_class, collection: StudentYear::ClassRooms::ALL, input_html: { class: 'chosen-select' }, label: "Admission Class", hint: "The class which the student joined during admission." %>

        <% if @student.new_record? %>
          <hr/>

          <div class="form-group">
            <%= f.simple_fields_for :student_years do |cf| %>
              <%= render 'student_years_fields', :f => cf %>
            <% end %>
          </div>
        <% end %>
        
        <hr/>

        <div class="form-group">
          <label class="string optional col-sm-3 control-label col-xs-12">
            Parents
          </label>

          <ul class="col-sm-9 col-xs-12 list-unstyled">
            <%= f.simple_fields_for :parents do |pf| %>
              <%= render 'parent_fields', :f => pf %>
              <div class="">
                <%= link_to_add_association 'Add more', f, :parents %>
              </div>
            <% end %>
          </ul>
        </div>
        
        <div class="form-group">
          <label class="string optional col-sm-3 control-label col-xs-12"></label>
          <div class="col-sm-9 col-xs-12">
            <%= f.button :submit, class: "btn btn-primary"%>
            <%= link_to("Cancel", students_path(), class: "btn btn-default") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
