<li class="nested-fields">
  <%= f.input :relation, collection: Parent::RelationShip::ALL %>
  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :qualification %>
  <%= f.input :occupation %>
  <%= f.input :income %>

  <div class="clearfix">
    <%= link_to_remove_association "Remove option", f, class: "pull-right red" %>
  </div>
</li>