<% @title = "Welcome #{current_user.name}" %>

<div class="row">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-success pull-right">Year 2016</span>
        <h5>Students</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"> <%= @students_count %> </h1>
        <% if @student_increase %>
          <div class="stat-percent font-bold text-success"> <%= @student_increase.round %>% <i class="fa fa-level-up"></i></div>
        <% end %>
        <small>Total Students (<%= link_to("view all &raquo;".html_safe, students_path()) %>)</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-info pull-right">SMS</span>
        <h5>SMS Balance</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @sms_balance %></h1>
        <small>Availble Balance</small>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-info pull-right">Status</span>
        <h5>Last SMS</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= show_status(@last_message) %></h1>
        <small>View <%= link_to("message log", messages_path()) %></small>
      </div>
    </div>
  </div>
</div>


<div class="ibox">
  <div class="ibox-title">
    <h5>Actions</h5>
  </div>
  <div class="ibox-content">
    <div class="row m-b-md">
      <div class="col-xs-12 col-md-3">
        <%= link_to("Enter New Admission", new_student_path(), class: "btn btn-primary col-xs-12") %>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= link_to("Send SMS", new_message_path(), class: "btn btn-primary col-xs-12") %>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= link_to("Attendance - Record Absentees", attendances_path(), class: "btn btn-primary col-xs-12") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <%= link_to("Generate TC", new_student_path(), class: "btn btn-primary col-xs-12 disabled") %>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= link_to("Generate Hall Tickets", new_student_path(), class: "btn btn-primary col-xs-12 disabled") %>
      </div>
    </div>
  </div>  
</div>