<% @breadcrumbs = [link_to("Students", students_path)] %>
<% @title = @student.name %>
<% sy = @student.current_student_year %>


<% @page_actions = {
  title: "Actions", 
  actions: [
      {title: "Send SMS to Parents", url: "#"},
      {title: "Edit", url: edit_student_path(@student)},
      {title: "Update Class", url: edit_student_path(@student, syear: true)}, 
      {title: "Delete", url: @student, options: {method: :delete, data: { :confirm => 'Are you sure?' }}}
    ] 
}
%>


<div class="row m-b-lg m-t-lg">
  <div class="col-md-6">
      <div class="profile-image">
        <%= student_logo(@student) %>
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins">
              <%= @student.name %>
            </h2>
            <h4>A current <%= sy.academic_year %> class <%= sy.classroom %> student </h4>

            <div class="small">
              Phone: <%= @student.phone.present? ? link_to(@student.phone, "tel:#{@student.phone}") : "-"%>
              <br/>
              Email: <%= @student.email.present? ? mail_to(@student.email) : "-"%> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <table class="table small m-b-xs">
          <tbody>
            <tr>
              <td>
                Branch: <strong><%= sy.branch %></strong>
              </td>
              <td>
                 Class: <strong><%= sy.classroom %> - <%= sy.section %></strong>
              </td>
            </tr>
            <tr>
              <td>
                Gender: <strong><%= @student.gender %></strong>
              </td>
              <td>
                Caste: <strong><%= @student.caste %></strong>
              </td>
            </tr>
            <tr>
              <td>
                Date of Birth: <strong><%= @student.date_of_birth.strftime("%B %d, %Y") %></strong>
              </td>
              <td>
                Joined School In: <strong><%= @student.joined_on.try(:year) || "-" %></strong>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>


<div class="row">
<% @student.parents.each do |parent| %>
  <div class="col-lg-4">
    <div class="contact-box">
      <div class="row no-margin">
        <div class="col-sm-4">
          <div class="text-center">
            <%= parent_logo(parent) %>
            <div class="m-t-xs font-bold"><%= parent.relation %></div>
          </div>
        </div>
        <div class="col-sm-8">
          <h3><strong><%= parent.name %></strong></h3>
          <p><i class="fa fa-map-marker dim"></i> Not Available</p>
          <address>
            <abbr title="Phone">Phone:</abbr> <%= parent.phone.present? ? link_to(parent.phone, "tel:#{parent.phone}") : "-"%><br/>
            <abbr title="Phone">Email:</abbr> <%= parent.email.present? ? mail_to(parent.email) : "-"%>
          </address>
        </div>  
      </div>
      
      <div class="contact-box-footer">
        <div class="m-t-xs btn-group">
            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> SMS </a>
            <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Email</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

  
</div>