<div class="ibox">
  <div class="ibox-content">
    <%= form_for_filterrific @filterrific, html: {class: 'form-inline' } do |f| %>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <span class="select2-wrapper has-next-1">
        <%= f.select(:with_branch, StudentYear::ClassRooms::BRANCHES, {include_blank: 'Select Branch...' }, { class: 'chosen-select form-control' }) %>
      </span>

      <span class="select2-wrapper has-next-1">
        <%= f.select(:with_medium, StudentYear::Medium::ALL, {include_blank: 'Select Medium...' }, { class: 'chosen-select form-control' }) %>
      </span>

      <span class="select2-wrapper has-next-1">
        <%= f.select(:with_klass, StudentYear::ClassRooms::ALL, { include_blank: 'Select Class...' }, { class: 'chosen-select form-control'}) %>
      </span>
      <% #TBD We can enable multiselect here%>

      <span class="select2-wrapper has-next-1">
        <%= f.select(:with_sections, StudentYear::ClassRooms::SECTIONS, { include_blank: 'Select Section...' }, { class: 'chosen-select form-control'}) %>
      </span>

      <%# add an automated spinner to your form when the list is refreshed %>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>  
</div>